<!DOCTYPE html>
<html>
    <head>
      <title>Area190</title>
    <%= csrf_meta_tags %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="">
    <div class="wrapper">
      <%= render 'shared/header'%>
      <section class="content">
        <%= yield %>
      </section>
      <%= render 'shared/footer'%>
    </div>
  </body>
  </body>
</html>
